venv/
venv_simple_tts/
__pycache__/
.env
*.db
.DS_Store
**.env
backend/hf_cache/
*.pt
*.incomplete
plans/
google-credentials.json
*.md

# Node modules - ignore in all directories
node_modules/
.npm-cache/