services:
  backend:
    build: ./backend
    platform: linux/amd64
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    networks:
      - python_talk_net

  frontend:
    build: ./frontend
    platform: linux/amd64
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - python_talk_net

networks:
  python_talk_net:
