@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&family=Jaro&family=Jaldi:wght@400;700&display=swap');

.navbar {
    width: 90%;
    max-width: 1600px;
    margin: 18px auto 0;
    padding: 32px 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navbar__logo {
    font-family: "Jaro", sans-serif;
    font-weight: 400;
    font-size: 40px;
    position: absolute;
    left: 28px;
    text-decoration: none;
    color: var(--deep);
}

.navbar__logo:hover {
    color: #0e391c;
}

.navbar__links {
    display: flex;
    gap: 64px;
    font-family: "Jaldi", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.navbar__links a {
    text-decoration: none;
    color: var(--deep);
}

.navbar__links a.is-active {
    font-weight: 800;
    opacity: 1;
}

.navbar__button {
    position: absolute;
    right: 28px;
}

.navbar__button-link {
    padding: 8px 18px;
    border: 2px solid var(--panel-text);
    border-radius: 8px;
    background: var(--white);
    color: var(--panel-text);
    font-family: "Jaldi", sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

.navbar__button-link:hover {
    background: var(--panel-text);
    color: var(--white);
}

.navbar__button-btn {
    padding: 8px 18px;
    border: 2px solid var(--panel-text);
    border-radius: 8px;
    background: var(--white);
    color: var(--panel-text);
    font-family: "Jaldi", sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: 0.2s;
}

.navbar__button-btn:hover {
    background: var(--panel-text);
    color: var(--white);
}